<!-- Breadcrumb Begin -->
{{ attach_library('product/common') }}
<div class="breadcrumb-option">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb__links">
					<a href="/drupal-9.4.7">
						<i class="fa fa-home"></i>
						Home</a>
					{% if category.parent_name %}
						<span>
							<a href="{{path('product.product-view-by-category', {'category_id' : category.parent_id})}}">{{category.parent_name}}
							</a>
						</span>
					{% endif %}
					<span>
						{{category.name}}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="shop__sidebar">
					<div class="sidebar__categories">
						<div class="section-title">
							<h4>Categories</h4>
						</div>
						<div class="categories__accordion">
							<div class="accordion" id="accordionExample">
								{% for cate in categories %}
									<div class="card">
										<div class="card-heading active">
											<a data-toggle="collapse" data-target="#collapse{{cate.id}}">{{cate.name}}</a>
										</div>
										<div id="collapse{{cate.id}}" class="collapse" data-parent="#accordionExample">
											<div class="card-body">
												<ul>
													{% for child in cate.level2 %}
														<li>
															<a href="{{path('product.product-view-by-category', {'category_id' : child.id})}}">{{child.name}}</a>
														</li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="sidebar__filter">
						<div class="section-title">
							<h4>Shop by price</h4>
						</div>
						<form id="form_filter_price" action="{{path('product.product-view-by-category', {'category_id' : category.id})}}">
							<div class="filter-range-wrap">
								<div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="{{price_range.min}}" data-max="{{price_range.max}}"></div>
								<div class="range-slider">
									<div class="price-input">
										<p>Price:</p>
										<input type="text" name="min" id="minamount">
										<input type="text" name="max" id="maxamount">
									</div>
								</div>
							</div>
							<a id="btn_filter" href="">Filter</a>
						</form>
					</div>
					<div class="sidebar__color">
						<div class="section-title">
							<h4>Shop by size</h4>
						</div>
						<div class="size__list color__list">
							<label for="black">
								Blacks
								<input type="checkbox" id="black">
								<span class="checkmark"></span>
							</label>
							<label for="whites">
								Whites
								<input type="checkbox" id="whites">
								<span class="checkmark"></span>
							</label>
							<label for="reds">
								Reds
								<input type="checkbox" id="reds">
								<span class="checkmark"></span>
							</label>
							<label for="greys">
								Greys
								<input type="checkbox" id="greys">
								<span class="checkmark"></span>
							</label>
							<label for="blues">
								Blues
								<input type="checkbox" id="blues">
								<span class="checkmark"></span>
							</label>
							<label for="beige">
								Beige Tones
								<input type="checkbox" id="beige">
								<span class="checkmark"></span>
							</label>
							<label for="greens">
								Greens
								<input type="checkbox" id="greens">
								<span class="checkmark"></span>
							</label>
							<label for="yellows">
								Yellows
								<input type="checkbox" id="yellows">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-9">
				<div class="row">
					{% for product in products %}
						<div class="col-lg-4 col-md-6">
							<div class="product__item">
								<div class="product__item__pic set-bg" data-setbg="{{product.image}}">
									<div class="label new">New</div>
									<ul class="product__hover">
										<li>
											<a href="{{product.image}}" class="image-popup">
												<span class="arrow_expand"></span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="icon_heart_alt"></span>
											</a>
										</li>
										<li>
											<a class="add_to_cart" data-id="{{product.id}}" href="#">
												<span class="icon_bag_alt"></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="product__item__text">
									<h6>
										<a href="/drupal-9.4.7/product/{{product.id}}">{{product.name}}</a>
									</h6>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="product__price">{{product.price}}</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				{{parger}}
			</div>
		</div>
	</div>
</section><!-- Shop Section End --><!-- Instagram Begin --><div class="instagram">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#">@ ashion_shop</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#">@ ashion_shop</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#">@ ashion_shop</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#">@ ashion_shop</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#">@ ashion_shop</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#">@ ashion_shop</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Instagram End -->
